html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/* Add your styles below */

#p5-canvas {
  margin: 10px auto;
  width: 810px;
  height: 1010px;
  border: 5px solid pink;
  background-color: black;
    }

#mynameduh{
    text-align: center;
    color: black;
    font-family: 'Shadows Into Light', cursive;

}

.vl { 
    border-left: 6px solid blue;
    height: 500px;  
    

}

.vl{ 
 border-left: 6px solid blue;
    height: 1000px;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 100px;
    
}


